In [1]:
%matplotlib inline  
import matplotlib.pyplot as plt   
import pandas as pd
import random
import numpy as np
from tqdm import tqdm
from tqdm import tnrange, tqdm_notebook
from time import sleep
import scipy
import operator
import difflib
import math

from IPython.core.display import display,HTML
display(HTML("<style>.container { width:100% !important; }</style>"))  # to make the notebook use the entire width of the browser



try:
    import cPickle as pickle  ##################################
   #it is faster than pickle!
except:
    import pickle
    
import unicodedata
import networkx as nx
import itertools
import seaborn as sns   ### https://seaborn.pydata.org/tutorial/categorical.html
import time  



import plotly.plotly as py


# i only need my credentials if i want to plot online --- and send plots to server (limits per day apply!)
#import plotly.tools as tls
#tls.set_credentials_file(username='juliettapc', api_key='deyNIvtOoDZ5PLmrHlhd')  # my plotly account credentials


import pygraphviz
from networkx.drawing.nx_agraph import graphviz_layout




########## to be able to plot offline (without sending the plots to the plotly server every time)
import plotly.offline as offline
from plotly.graph_objs import *
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

init_notebook_mode(connected=True)
################



##### for getting geolocation data  and to calculate distance between two geolocations
import requests
import json
import geopy.distance

In [2]:

# path = "/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/"
# input_file = 'Dropbox_datafile_may22_2017_modified_added_geolocation.csv'#Dropbox_datafile_may22_2017_modified.csv'
# df_original = pd.read_csv(path+input_file, sep=',',na_values=["NAN","-1","null"],low_memory=False, parse_dates=['folder_creation_date','date_last_change']) # set header=0 if i wanna pass it my own list of header names
# print df_original.shape



path = "/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/"
input_file = 'Dropbox_datafile_may22_2017_modified_added_univ_country_geolocation_RUCC_population_density_when_available.csv'
df = pd.read_csv(path+input_file, sep=';',na_values=["NAN","-1","null"],low_memory=False, parse_dates=['folder_creation_date','date_last_change']) # set header=0 if i wanna pass it my own list of header names
df.rename(columns={'2010_Population': 'Population_2010'}, inplace=True)

print df.shape

(1403347, 32)

In [ ]:

df.columns

In [ ]:
len(df.Geolocation.unique())  # 2728

In [ ]:
## 'user_id','email_domain'     1403347 rows,   440353 user_ids
## 'user_id','email_domain','num_edits'  489771,   180856
## 'user_id','email_domain','num_edits','group_num_citations'   121852,  16296
## 'user_id','email_domain','num_edits','group_num_citations', 'Rural_Urban_Continuum_Code'     118382,   15785
##'user_id','email_domain','group_num_citations', 'Rural_Urban_Continuum_Code'     305926, 24231   
##'user_id','email_domain','zip'      1309467, 380210

##  'user_id','email_domain','num_edits', 'Rural_Urban_Continuum_Code'   461026, 160957    
##  'user_id','email_domain','Density_Per_Sq_Mile'   952022,  279170   


## 'user_id','email_domain','world_ranking'    733796,  218601



# df_complete_info=df[['user_id','email_domain','num_edits', 'Rural_Urban_Continuum_Code' ]].dropna(how='any')  # by default, dropna drops a row if ANY  of the indicated fields are missing (i can also set it to if ALL the fields are missing: how='all')
# print df_complete_info.shape , len(df_complete_info['user_id'].unique())

In [ ]:
#df.groupby("Rural_Urban_Continuum_Code").size()#.sort_values()

In [ ]:
# df_complete_info=df[['user_id','email_domain','world_ranking']].dropna(how='any')  # by default, dropna drops a row if ANY  of the indicated fields are missing (i can also set it to if ALL the fields are missing: how='all')
# print df_complete_info.shape , len(df_complete_info['user_id'].unique())
  
#df.groupby("Rural_Urban_Continuum_Code").size()#.sort_values() 'world_ranking'

In [ ]:
#1185989./1233430.     of the universities are in 
# num_folders=len(df_complete_info['folder_id'].unique())

In [ ]:
# list_international_coll=[]
# list_interuniversity_coll=[]

# list_international_folders=[]
# list_interinviersity_folders=[]

# def grouping(input_df):
        
#     folder_id=input_df.folder_id.unique()
#     countries=input_df.Country.unique()
#     universities=input_df.Cleaned_university_name.unique()
    
#     flag_international_collab=0    
#     if len(countries)>1:
#         flag_international_collab +=1
#         list_international_folders.append(folder_id)       
#     list_international_coll.append(flag_international_collab)
    
    
#     flag_interuniversity_collab=0
#     if len(universities)>1:
#         flag_interuniversity_collab +=1
#         list_interinviersity_folders.append(folder_id)       
#     list_interuniversity_coll.append(flag_interuniversity_collab)
    
    
       
# #     print countries, list_int_coll
# #     raw_input()




# grouped = df_original.groupby('folder_id').apply(grouping)

# print "international:", sum(list_international_coll), num_folders, float(sum(list_international_coll))/num_folders
# print "inter-uniersity:", sum(list_interuniversity_coll), num_folders, float(sum(list_interuniversity_coll))/num_folders

In [ ]:
# df.columns

In [ ]:
# print df.shape
# df_complete_info=df[['world_ranking','folder_lifespan' ]].dropna(how='any').head(1000)
# print df_complete_info.shape


# trace = Scattergl(
#     x = df_complete_info.folder_lifespan,
#     y = df_complete_info.world_ranking,
#     mode = 'markers',
#     marker = dict(
#         color = df.world_ranking,#'#FFBAD2',
#         colorscale='Viridis',
#         showscale=True,
#         line = dict(width = 1)
#     )
# )





# data = [trace]



# fig = { 'data':data}#, 'layout':layout }
# iplot(fig, filename='lifespan')
# offline.plot(fig, filename='/home/juliaponcela/scatter_lifespan.html')

In [3]:
### checking the bins:

# group_total_publ
# 1.0-2.0        84560
# 2.0-8.0        42471
# 8.0-22.0       51958
# 22.0-56.0      66337
# 56.0-1350.0    70420

# group_num_papers_last
# 0.0-1.0        102479# 18.0-1216.0     86658
# 1.0-5.0         51978
# 5.0-18.0        74631
# 18.0-1216.0     86658


# group_num_citations
# 0.0-1.0            72323
# 1.0-30.0           48710
# 1183.0-146545.0    72967
# 229.0-1183.0       64114
# 30.0-229.0         57632



# def OLD_get_career_stage (input_df):
     
#     career_stage=np.nan
    
#     #string_location=input_df.University_Country
    
    
#     min_num_publ=np.nan
#     max_num_publ=np.nan

#     min_num_last_auth=np.nan
#     max_num_last_auth=np.nan
    
    
       
#     try:   
#         min_num_publ=float(input_df.group_total_publ.split("-")[0])
#         max_num_publ=float(input_df.group_total_publ.split("-")[1])

#         min_num_last_auth=float(input_df.group_num_papers_last.split("-")[0])
#         max_num_last_auth=float(input_df.group_num_papers_last.split("-")[1])
#     except : pass  ## if NANs

     
    
#     try:
         
#         median_num_publ=int(max_num_publ-min_num_publ)/2.
#         median_num_last_auth=int((max_num_last_auth-min_num_last_auth)/2.)

#         career_stage= "jr"

#         if float(median_num_last_auth) >= median_num_publ/2.:
#             career_stage= "sr"
            
# #         if max_num_publ <= 8.:
# #             career_stage= "jr"

            
# #         if min_num_publ  >=  22.0:
# #              career_stage= "sr"
                
                
                
                
                
                
            
            
            
# #         print "# publ:",input_df.group_total_publ,"  # last auth:",input_df.group_num_papers_last," career stage:",career_stage
# #         raw_input()
            
#     except ValueError: pass   
    
    
    
    
#     #print "\nmedian # publ:", int((max_num_publ-min_num_publ)/2.), "  median numb last auth",int((max_num_last_authors-min_num_last_auth)/2.)
   
#     #print min_num_publ, max_num_publ, min_num_last_auth, max_num_last_auth
   
  
    
#     #print "\nmedian # publ:", int((max_num_publ-min_num_publ)/2.), "  median numb last auth",int((max_num_last_authors-min_num_last_auth)/2.)
   
#     #print min_num_publ, max_num_publ, min_num_last_auth, max_num_last_auth
   
    
   
#     return career_stage


#  ###############################################
    
    
    
    

def get_career_stage (row):
     
    career_stage=np.nan
    max_num_publ=np.nan
             
    
    threshold_experienced=12.    # (see lab notebook: that is the median number of publications in the WOS+LinkedIn population, weighted by how many people are in each macro-field)    
    
       
    try:          
        max_num_publ=float(row.group_total_publ.split("-")[1])        
        career_stage= "newcomer"        
    except : pass  ## if NAN

     
    
    try:        
        if float(max_num_publ) >= threshold_experienced:
            career_stage= "experienced"            
    except ValueError: pass ## if NAN      
    
    
   
    return career_stage
   
    
        
        


%time df['career_stage'] = df.apply (lambda row: get_career_stage(row),axis=1)
print "done"

CPU times: user 2min 31s, sys: 976 ms, total: 2min 32s
Wall time: 2min 31s
done

In [4]:

df.head(1000)

,Unnamed: 0,folder_id,num_folder_members,folder_creation_date,date_last_change,user_id,email_domain,num_adds,num_edits,num_deletes,...,zip,Rural_Urban_Continuum_Code,State_Name,Description,Population_2010,Land-Sq-Mi,Density_Per_Sq_Mile,world_ranking,national_ranking,career_stage
0,0,592732,4,2008-06-12,2012-12-25,77422,cornell.edu,NaN,NaN,NaN,...,14850.0,1.0,New York,Metropolitan Counties – In large metro area of...,63886.0,125.959,507.196786,13,11,NaN
1,1,592732,4,2008-06-12,2012-12-25,79630,cornell.edu,NaN,NaN,NaN,...,14850.0,1.0,New York,Metropolitan Counties – In large metro area of...,63886.0,125.959,507.196786,13,11,NaN
2,2,592732,4,2008-06-12,2012-12-25,77619,cornell.edu,80.0,72.0,0.0,...,14850.0,1.0,New York,Metropolitan Counties – In large metro area of...,63886.0,125.959,507.196786,13,11,NaN
3,3,604794,2,2008-06-27,2012-12-23,86572,unc.edu,21798.0,40498.0,10660.0,...,27599.0,1.0,North Carolina,Metropolitan Counties – In large metro area of...,NaN,NaN,NaN,35,25,NaN
4,4,680152,2,2008-08-26,2013-01-04,76579,cs.princeton.edu,644.0,0.0,112.0,...,8544.0,1.0,New Jersey,Metropolitan Counties – In large metro area of...,NaN,NaN,NaN,6,5,NaN
5,5,693982,2,2008-09-08,2012-12-25,140646,columbia.edu,812.0,560.0,56.0,...,10027.0,1.0,New York,Metropolitan Counties – In large metro area of...,59707.0,0.869,68707.710010,9,7,newcomer
6,6,756104,11,2008-09-14,2013-01-09,264014,cs.cmu.edu,NaN,NaN,NaN,...,15213.0,1.0,Pennsylvania,Metropolitan Counties – In large metro area of...,30844.0,2.131,14473.955890,68,36,NaN
7,7,756104,11,2008-09-14,2013-01-09,205694,cs.cmu.edu,11480.0,0.0,0.0,...,15213.0,1.0,Pennsylvania,Metropolitan Counties – In large metro area of...,30844.0,2.131,14473.955890,68,36,NaN
8,8,756104,11,2008-09-14,2013-01-09,260790,cs.pitt.edu,NaN,NaN,NaN,...,15260.0,1.0,Pennsylvania,Metropolitan Counties – In large metro area of...,0.0,0.081,0.000000,NaN,NaN,experienced
9,9,788418,2,2008-09-18,2013-01-09,188676,cornell.edu,419.0,84.0,28.0,...,14850.0,1.0,New York,Metropolitan Counties – In large metro area of...,63886.0,125.959,507.196786,13,11,NaN
10,10,798240,4,2008-09-19,2013-01-09,2101784,stanford.edu,84.0,112.0,28.0,...,94305.0,1.0,California,Metropolitan Counties – In large metro area of...,13862.0,5.128,2703.198128,2,2,newcomer
11,11,798240,4,2008-09-19,2013-01-09,26477840,stanford.edu,NaN,NaN,NaN,...,94305.0,1.0,California,Metropolitan Counties – In large metro area of...,13862.0,5.128,2703.198128,2,2,NaN
12,12,798240,4,2008-09-19,2013-01-09,243435748,stanford.edu,NaN,NaN,NaN,...,94305.0,1.0,California,Metropolitan Counties – In large metro area of...,13862.0,5.128,2703.198128,2,2,NaN
13,13,798240,4,2008-09-19,2013-01-09,11982445,stanford.edu,NaN,NaN,NaN,...,94305.0,1.0,California,Metropolitan Counties – In large metro area of...,13862.0,5.128,2703.198128,2,2,NaN
14,14,798240,4,2008-09-19,2013-01-09,43611355,stanford.edu,NaN,NaN,NaN,...,94305.0,1.0,California,Metropolitan Counties – In large metro area of...,13862.0,5.128,2703.198128,2,2,NaN
15,15,798240,4,2008-09-19,2013-01-09,237802,stanford.edu,NaN,NaN,NaN,...,94305.0,1.0,California,Metropolitan Counties – In large metro area of...,13862.0,5.128,2703.198128,2,2,NaN
16,16,827150,3,2008-09-27,2016-11-07,288077,cs.cmu.edu,NaN,NaN,NaN,...,15213.0,1.0,Pennsylvania,Metropolitan Counties – In large metro area of...,30844.0,2.131,14473.955890,68,36,NaN
17,17,827150,3,2008-09-27,2016-11-07,1158951,cs.cmu.edu,56.0,336.0,28.0,...,15213.0,1.0,Pennsylvania,Metropolitan Counties – In large metro area of...,30844.0,2.131,14473.955890,68,36,NaN
18,18,833060,3,2008-09-29,2012-12-27,262875,ucdavis.edu,NaN,NaN,NaN,...,95616.0,1.0,California,Metropolitan Counties – In large metro area of...,47032.0,27.557,1706.716987,NaN,NaN,newcomer
19,19,833060,3,2008-09-29,2012-12-27,2512795,ucdavis.edu,NaN,NaN,NaN,...,95616.0,1.0,California,Metropolitan Counties – In large metro area of...,47032.0,27.557,1706.716987,NaN,NaN,NaN
20,20,833060,3,2008-09-29,2012-12-27,8335214,ucdavis.edu,2464.0,0.0,208628.0,...,95616.0,1.0,California,Metropolitan Counties – In large metro area of...,47032.0,27.557,1706.716987,NaN,NaN,NaN
21,21,833060,3,2008-09-29,2012-12-27,70873455,ucdavis.edu,NaN,NaN,NaN,...,95616.0,1.0,California,Metropolitan Counties – In large metro area of...,47032.0,27.557,1706.716987,NaN,NaN,NaN
22,22,838246,3,2008-10-01,2012-12-25,268726,iastate.edu,NaN,NaN,NaN,...,50011.0,1.0,Iowa,Metropolitan Counties – In large metro area of...,1390.0,0.048,28958.333330,201-300,72-98,experienced
23,23,838246,3,2008-10-01,2012-12-25,266584,mail.xjtu.edu.cn,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,24,860730,3,2008-10-08,2014-01-02,282296,uark.edu,NaN,NaN,NaN,...,72701.0,1.0,Arkansas,Metropolitan Counties – In large metro area of...,39782.0,126.558,314.338090,NaN,NaN,experienced
25,25,860730,3,2008-10-08,2014-01-02,294000,walton.uark.edu,NaN,NaN,NaN,...,72701.0,1.0,Arkansas,Metropolitan Counties – In large metro area of...,39782.0,126.558,314.338090,NaN,NaN,NaN
26,26,877300,2,2008-10-13,2013-01-15,285286,umich.edu,NaN,NaN,NaN,...,48109.0,1.0,Michigan,Metropolitan Counties – In large metro area of...,6904.0,0.977,7066.530194,NaN,NaN,NaN
27,27,877300,2,2008-10-13,2013-01-15,291461,virginia.edu,NaN,NaN,NaN,...,22903.0,1.0,Virginia,Metropolitan Counties – In large metro area of...,38229.0,75.654,505.313665,151-200,62-71,newcomer
28,28,882154,2,2008-10-14,2012-12-25,297614,ncsu.edu,NaN,NaN,NaN,...,27695.0,1.0,North Carolina,Metropolitan Counties – In large metro area of...,NaN,NaN,NaN,NaN,NaN,NaN
29,29,905696,2,2008-10-20,2012-12-25,314809,oregonstate.edu,NaN,NaN,NaN,...,97331.0,1.0,Oregon,Metropolitan Counties – In large metro area of...,2408.0,0.323,7455.108359,151-200,62-71,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,970,4551930,2,2009-11-03,2012-12-25,2858237,berkeley.edu,837.0,2866.0,616.0,...,94720.0,1.0,California,Metropolitan Counties – In large metro area of...,2964.0,0.622,4765.273312,NaN,NaN,NaN
971,971,4580618,3,2009-11-04,2012-12-25,1319335,york.ac.uk,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201-300,22-28,NaN
972,972,4580618,3,2009-11-04,2012-12-25,1427714,rutgers.edu,84.0,0.0,0.0,...,8901.0,1.0,New Jersey,Metropolitan Counties – In large metro area of...,55223.0,6.329,8725.391057,NaN,NaN,NaN
973,973,4582172,2,2009-11-04,2013-01-15,165494,georgetown.edu,82.0,0.0,28.0,...,20057.0,1.0,District of Columbia,Metropolitan Counties – In large metro area of...,3888.0,0.170,22870.588240,301-400,99-119,NaN
974,974,4599566,5,2009-11-04,2013-12-12,2890481,monash.edu,102170.0,110192.0,15979.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79,4,NaN
975,975,4599566,5,2009-11-04,2013-12-12,33257432,bu.edu,NaN,NaN,NaN,...,2215.0,1.0,Massachusetts,Metropolitan Counties – In large metro area of...,26125.0,0.765,34150.326800,75,39,NaN
976,976,4599566,5,2009-11-04,2013-12-12,2509203,unsw.edu.au,280987.0,76720.0,280175.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
977,977,4599566,5,2009-11-04,2013-12-12,10460630,bu.edu,7073.0,35756.0,952.0,...,2215.0,1.0,Massachusetts,Metropolitan Counties – In large metro area of...,26125.0,0.765,34150.326800,75,39,experienced
978,978,4601078,2,2009-11-04,2013-01-23,2890062,socrates.berkeley.edu,NaN,NaN,NaN,...,94720.0,1.0,California,Metropolitan Counties – In large metro area of...,2964.0,0.622,4765.273312,NaN,NaN,experienced
979,979,4609318,2,2009-11-05,2013-01-23,2912352,umn.edu,NaN,NaN,NaN,...,55455.0,1.0,Minnesota,Metropolitan Counties – In large metro area of...,1050.0,0.266,3947.368421,NaN,NaN,experienced
980,980,4609318,2,2009-11-05,2013-01-23,2904159,umn.edu,NaN,NaN,NaN,...,55455.0,1.0,Minnesota,Metropolitan Counties – In large metro area of...,1050.0,0.266,3947.368421,NaN,NaN,NaN
981,981,4618486,2,2009-11-05,2013-01-29,2905568,mccombs.utexas.edu,NaN,NaN,NaN,...,78712.0,1.0,Texas,Metropolitan Counties – In large metro area of...,860.0,0.318,2704.402516,NaN,NaN,NaN
982,982,4618486,2,2009-11-05,2013-01-29,2071576,math.mcgill.ca,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63,3,NaN
983,983,4630880,2,2009-11-05,2016-06-01,1813497,uchicago.edu,13990.0,494.0,46.0,...,60637.0,1.0,Illinois,Metropolitan Counties – In large metro area of...,49503.0,4.507,10983.581100,10,8,experienced
984,984,4630880,2,2009-11-05,2016-06-01,2132394,nyu.edu,1570.0,3675.0,84.0,...,10003.0,1.0,New York,Metropolitan Counties – In large metro area of...,56024.0,0.576,97263.888890,29,22,NaN
985,985,4634916,4,2009-11-06,2013-01-09,21562550,vanderbilt.edu,0.0,0.0,28.0,...,37235.0,1.0,Tennessee,Metropolitan Counties – In large metro area of...,NaN,NaN,NaN,60,34,experienced
986,986,4634916,4,2009-11-06,2013-01-09,10693195,utexas.edu,NaN,NaN,NaN,...,78712.0,1.0,Texas,Metropolitan Counties – In large metro area of...,860.0,0.318,2704.402516,NaN,NaN,NaN
987,987,4646696,7,2009-11-06,2013-01-23,328524,umich.edu,NaN,NaN,NaN,...,48109.0,1.0,Michigan,Metropolitan Counties – In large metro area of...,6904.0,0.977,7066.530194,NaN,NaN,experienced
988,988,4646696,7,2009-11-06,2013-01-23,735367,umich.edu,NaN,NaN,NaN,...,48109.0,1.0,Michigan,Metropolitan Counties – In large metro area of...,6904.0,0.977,7066.530194,NaN,NaN,NaN
989,989,4646696,7,2009-11-06,2013-01-23,2919780,umich.edu,NaN,NaN,NaN,...,48109.0,1.0,Michigan,Metropolitan Counties – In large metro area of...,6904.0,0.977,7066.530194,NaN,NaN,NaN
990,990,4646696,7,2009-11-06,2013-01-23,2919752,emich.edu,NaN,NaN,NaN,...,48197.0,1.0,Michigan,Metropolitan Counties – In large metro area of...,61132.0,41.914,1458.510283,NaN,NaN,NaN
991,991,4646696,7,2009-11-06,2013-01-23,2919838,msu.edu,NaN,NaN,NaN,...,48824.0,1.0,Michigan,Metropolitan Counties – In large metro area of...,NaN,NaN,NaN,101-150,51-61,experienced
992,992,4648380,2,2009-11-06,2013-01-03,350360,umich.edu,NaN,NaN,NaN,...,48109.0,1.0,Michigan,Metropolitan Counties – In large metro area of...,6904.0,0.977,7066.530194,NaN,NaN,NaN
993,993,4651388,3,2009-11-06,2013-01-03,2907455,upmc.edu,NaN,NaN,NaN,...,15260.0,1.0,Pennsylvania,Metropolitan Counties – In large metro area of...,0.0,0.081,0.000000,NaN,NaN,NaN
994,994,4651388,3,2009-11-06,2013-01-03,2922820,upmc.edu,NaN,NaN,NaN,...,15260.0,1.0,Pennsylvania,Metropolitan Counties – In large metro area of...,0.0,0.081,0.000000,NaN,NaN,NaN
995,995,4651388,3,2009-11-06,2013-01-03,2923074,upmc.edu,NaN,NaN,NaN,...,15260.0,1.0,Pennsylvania,Metropolitan Counties – In large metro area of...,0.0,0.081,0.000000,NaN,NaN,experienced
996,996,4658386,2,2009-11-07,2012-12-27,2927437,soc.ucla.edu,21113.0,140.0,9240.0,...,90095.0,1.0,California,Metropolitan Counties – In large metro area of...,3.0,0.406,7.389163,NaN,NaN,NaN
997,997,4658386,2,2009-11-07,2012-12-27,1312944,soc.ucsb.edu,2462.0,0.0,0.0,...,93117.0,1.0,California,Metropolitan Counties – In large metro area of...,53217.0,170.076,312.901291,NaN,NaN,NaN
998,998,4662394,2,2009-11-07,2015-06-29,3574357,umn.edu,3528.0,135.0,0.0,...,55455.0,1.0,Minnesota,Metropolitan Counties – In large metro area of...,1050.0,0.266,3947.368421,NaN,NaN,NaN
999,999,4667776,4,2009-11-07,2013-01-08,3186359,ufl.edu,NaN,NaN,NaN,...,32611.0,1.0,Florida,Metropolitan Counties – In large metro area of...,NaN,NaN,NaN,90,45,NaN

In [5]:

def get_median_num_publ(input_df):
    
    median_num_publ=np.nan            
    
    try:   
        min_num_publ=float(input_df.group_total_publ.split("-")[0])
        max_num_publ=float(input_df.group_total_publ.split("-")[1])       
    except : pass  ## if NANs

         
    try:         
        median_num_publ=int(max_num_publ-min_num_publ)/2.                   
    except: pass
    
    
    return median_num_publ
        
##################
    
    
    
def get_median_num_last_auth(input_df):
    
    median_num_last_auth=np.nan            
    
    try:   
        min_num_last_auth=float(input_df.group_num_papers_last.split("-")[0])
        max_num_last_auth=float(input_df.group_num_papers_last.split("-")[1])
    except : pass  ## if NANs

     
    
    try:                 
        median_num_last_auth=int((max_num_last_auth-min_num_last_auth)/2.)
    except : pass  ## if NANs
         
    
    
    return median_num_last_auth
            

%time df['median_num_publ'] = df.apply(lambda row: get_median_num_last_auth(row),axis=1)
%time df['median_num_last_auth'] = df.apply(lambda row: get_median_num_last_auth(row),axis=1)


print "done"

CPU times: user 2min 39s, sys: 1.01 s, total: 2min 40s
Wall time: 2min 38s
CPU times: user 2min 37s, sys: 956 ms, total: 2min 38s
Wall time: 2min 36s
done

In [ ]:
#df.groupby(["group_total_publ", "group_num_papers_last", "career_stage"]).size()

In [ ]:
#df.drop([Column Name or list],inplace=True,axis=1)

In [6]:
path = "/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/"
input_file = 'Dropbox_datafile_may22_2017_modified_added_univ_country_geolocation_RUCC_population_density_when_available_career_stage.csv'

df.to_csv(path+input_file, sep=',')
print "written:", input_file

written: Dropbox_datafile_may22_2017_modified_added_univ_country_geolocation_RUCC_population_density_when_available_career_stage.csv

In [ ]:
#df_selection=df[["group_total_publ", "median_num_publ", "group_num_papers_last","median_num_last_auth","career_stage" ]]

In [7]:
df.groupby(["career_stage"]).size()

career_stage
experienced    188715
newcomer       127031
dtype: int64

In [8]:

def replace_nans_by_zeros(lista):
    #print lista
    aux_lista=[]
    for i in range(len(lista)):       
        if np.isnan(lista[i]) == True:     # OJO!!! NO SIRVE SI HAGO: IF LISTA[I]== NP.NAN!!!
            aux_lista.append(0)
        else:
            aux_lista.append(lista[i])
            
            
    #print aux_lista   
    return aux_lista

In [ ]:
# lista1=[5,np.nan, 5,9,np.nan, 54,2,9,8,8,5,np.nan, 2,21,6,9,8,4,1,89,8]
# lista2=replace_nans_by_zeros(lista1)
# print lista2

In [9]:

#to get the folder entropy

def gini(list_of_values):
    sorted_list = sorted(list_of_values)
    height, area = 0, 0
    for value in sorted_list:
        height += value
        area += height - value / 2.
    fair_area = height * len(list_of_values) / 2.
    try:
        return (fair_area - area) / fair_area
    except ZeroDivisionError:
#         print "problems with:",list_of_values   # if lista=[0,0,0]  or [0]
#         raw_input()
        return np.nan




def grouping(input_df,dict_folder_id_folder_entropy):
    
   
#     folder_id=input_df.folder_id.iloc[0]
#     print folder_id
   
#     lastname=input_df.author_name.iloc[0].split(",")[0].capitalize()
    
    list_edits=list(input_df.num_edits)
    list_adds=list(input_df.num_adds)
    list_deletes=list(input_df.num_deletes)
    
    list_all_activity=replace_nans_by_zeros(list(np.array(list_edits)+np.array(list_adds)+np.array(list_deletes)))  # according to Rebecca, NANs=0 in activity columns
    
   # print list_edits, list_adds, list_deletes, "  adding arrays:", list_all_activity
    
   
    
    GINI=gini(list_all_activity)
    dict_folder_id_folder_entropy[folder_id]=GINI
    #print GINI
    #print 
    #print dict_folder_id_folder_entropy
    #raw_input()
    
 


dict_folder_id_folder_entropy={}
for folder_id in df['folder_id'].unique():
    df_selection= df[df['folder_id'] == folder_id]
    grouping(df_selection,dict_folder_id_folder_entropy)
    #print folder_id

df.head(100)
print "done"

done

In [10]:
len(df['user_id'].unique())

440353

In [11]:
def get_gini_folder(df_input, dict_folder_id_folder_entropy):
    return dict_folder_id_folder_entropy[df_input.folder_id]

%time df['folder_activity_GINI'] = df.apply (lambda row: get_gini_folder(row, dict_folder_id_folder_entropy),axis=1)

CPU times: user 2min 26s, sys: 708 ms, total: 2min 26s
Wall time: 2min 26s

In [12]:



path = "/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/"
input_file = 'Dropbox_datafile_may22_2017_modified_added_univ_country_geolocation_RUCC_population_density_when_available_career_stage_GINI_folder_act.csv'
df = pd.read_csv(path+input_file, sep=',',na_values=["NAN","-1","null"],low_memory=False, parse_dates=['folder_creation_date','date_last_change']) # set header=0 if i wanna pass it my own list of header names
df.rename(columns={'2010_Population': 'Population_2010'}, inplace=True)

print df.shape

(1403347, 37)

In [ ]:
# df.columns

In [13]:
dict_var_dict_bins_categories={}
dict_var_dict_bins_categories["group_total_publ"]={}
dict_var_dict_bins_categories["group_num_papers_last"]={}
dict_var_dict_bins_categories["group_num_citations"]={}



dict_var_dict_bins_categories["group_total_publ"]["1.0-2.0"]=1
dict_var_dict_bins_categories["group_total_publ"]["2.0-8.0"]=2
dict_var_dict_bins_categories["group_total_publ"]["8.0-22.0"]=3
dict_var_dict_bins_categories["group_total_publ"]["22.0-56.0"]=4
dict_var_dict_bins_categories["group_total_publ"]["56.0-1350.0"]=5



dict_var_dict_bins_categories["group_num_papers_last"]["0.0-1.0"]=1
dict_var_dict_bins_categories["group_num_papers_last"]["1.0-5.0"]=2
dict_var_dict_bins_categories["group_num_papers_last"]["5.0-18.0"]=3
dict_var_dict_bins_categories["group_num_papers_last"]["18.0-1216.0"]=4



dict_var_dict_bins_categories["group_num_citations"]["0.0-1.0"]=1
dict_var_dict_bins_categories["group_num_citations"]["1.0-30.0"]=2
dict_var_dict_bins_categories["group_num_citations"]["30.0-229.0"]=3
dict_var_dict_bins_categories["group_num_citations"]["229.0-1183.0"]=4
dict_var_dict_bins_categories["group_num_citations"]["1183.0-146545.0"]=5



# group_total_publ
# 1.0-2.0        84560
# 2.0-8.0        42471
# 8.0-22.0       51958
# 22.0-56.0      66337
# 56.0-1350.0    70420

# group_num_papers_last
# 0.0-1.0        102479
# 1.0-5.0         51978
# 5.0-18.0        74631
# 18.0-1216.0     86658


# group_num_citations
# 0.0-1.0            72323
# 1.0-30.0           48710
# 30.0-229.0         57632
# 229.0-1183.0       64114
# 1183.0-146545.0    72967

In [ ]:
# dict_var_dict_bins_categories

In [14]:

def get_category_from_bins(row, variable_string,dict_var_dict_bins_categories):
    
    category=np.nan            
    
    value=row[variable_string]
    
    try:           
        category= dict_var_dict_bins_categories[variable_string][value]  
#         print row, "\n",variable_string, dict_var_dict_bins_categories[variable_string], "  value:",value, "category:", category
#         raw_input()
    except KeyError: pass  ## if NANs
      
    
    
    return category
        
##################
#   'group_total_publ' 
#   'group_num_papers_last'
#   'group_num_citations'
           

%time df['category_total_publ'] = df.apply(lambda row: get_category_from_bins(row, 'group_total_publ',dict_var_dict_bins_categories),axis=1)
%time df['category_total_last_auth'] = df.apply(lambda row: get_category_from_bins(row, 'group_num_papers_last',dict_var_dict_bins_categories),axis=1)
%time df['category_total_cit'] = df.apply(lambda row: get_category_from_bins(row, 'group_num_citations',dict_var_dict_bins_categories),axis=1)


print "done"

CPU times: user 2min 23s, sys: 844 ms, total: 2min 24s
Wall time: 2min 23s
CPU times: user 2min 23s, sys: 1.13 s, total: 2min 25s
Wall time: 2min 23s
CPU times: user 2min 24s, sys: 1.06 s, total: 2min 25s
Wall time: 2min 24s
done

In [15]:
df.drop(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1'],inplace=True,axis=1)

In [16]:
path = "/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Dropbox/"
input_file = 'Dropbox_datafile_may22_2017_modified_added_univ_country_geolocation_RUCC_population_density_when_available_career_stage_GINI_folder_act_categories.csv'

df.to_csv(path+input_file, sep=',')
print "written:", input_file

written: Dropbox_datafile_may22_2017_modified_added_univ_country_geolocation_RUCC_population_density_when_available_career_stage_GINI_folder_act_categories.csv

In [17]:
df[["user_id",'group_total_publ', 'category_total_publ', 'group_num_papers_last', 'category_total_last_auth', 'group_num_citations','category_total_cit' ,"career_stage" ]].head(1000)

,user_id,group_total_publ,category_total_publ,group_num_papers_last,category_total_last_auth,group_num_citations,category_total_cit,career_stage
0,77422,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,79630,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,77619,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,86572,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,76579,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,140646,1.0-2.0,1.0,0.0-1.0,1.0,1.0-30.0,2.0,jr
6,264014,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,205694,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,260790,8.0-22.0,3.0,0.0-1.0,1.0,30.0-229.0,3.0,jr
9,188676,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2101784,1.0-2.0,1.0,0.0-1.0,1.0,0.0-1.0,1.0,jr
11,26477840,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,243435748,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,11982445,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,43611355,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,237802,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,288077,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1158951,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,262875,1.0-2.0,1.0,0.0-1.0,1.0,0.0-1.0,1.0,jr
19,2512795,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,8335214,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,70873455,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,268726,22.0-56.0,4.0,5.0-18.0,3.0,1183.0-146545.0,5.0,jr
23,266584,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,282296,8.0-22.0,3.0,5.0-18.0,3.0,229.0-1183.0,4.0,sr
25,294000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,285286,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,291461,1.0-2.0,1.0,0.0-1.0,1.0,0.0-1.0,1.0,jr
28,297614,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,314809,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
970,2858237,NaN,NaN,NaN,NaN,NaN,NaN,NaN
971,1319335,NaN,NaN,NaN,NaN,NaN,NaN,NaN
972,1427714,NaN,NaN,NaN,NaN,NaN,NaN,NaN
973,165494,NaN,NaN,NaN,NaN,NaN,NaN,NaN
974,2890481,NaN,NaN,NaN,NaN,NaN,NaN,NaN
975,33257432,NaN,NaN,NaN,NaN,NaN,NaN,NaN
976,2509203,NaN,NaN,NaN,NaN,NaN,NaN,NaN
977,10460630,56.0-1350.0,5.0,18.0-1216.0,4.0,1183.0-146545.0,5.0,sr
978,2890062,8.0-22.0,3.0,5.0-18.0,3.0,229.0-1183.0,4.0,sr
979,2912352,22.0-56.0,4.0,5.0-18.0,3.0,229.0-1183.0,4.0,jr
980,2904159,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981,2905568,NaN,NaN,NaN,NaN,NaN,NaN,NaN
982,2071576,NaN,NaN,NaN,NaN,NaN,NaN,NaN
983,1813497,56.0-1350.0,5.0,5.0-18.0,3.0,1183.0-146545.0,5.0,jr
984,2132394,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985,21562550,22.0-56.0,4.0,5.0-18.0,3.0,229.0-1183.0,4.0,jr
986,10693195,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987,328524,22.0-56.0,4.0,5.0-18.0,3.0,229.0-1183.0,4.0,jr
988,735367,NaN,NaN,NaN,NaN,NaN,NaN,NaN
989,2919780,NaN,NaN,NaN,NaN,NaN,NaN,NaN
990,2919752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
991,2919838,22.0-56.0,4.0,18.0-1216.0,4.0,229.0-1183.0,4.0,sr
992,350360,NaN,NaN,NaN,NaN,NaN,NaN,NaN
993,2907455,NaN,NaN,NaN,NaN,NaN,NaN,NaN
994,2922820,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,2923074,8.0-22.0,3.0,5.0-18.0,3.0,0.0-1.0,1.0,sr
996,2927437,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,1312944,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,3574357,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,3186359,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#########  WOS+ LINKEDIN DATAFILE
path = "/home/juliaponcela/at_NICO/Dropbox_collaboration_patterns/Data/Merged_LinkedIn_WoS/"
input_file = 'Merged_linkedin-WoS_GS_extra70univ_anonymized_groups.pickle'
df_wos = pd.read_pickle(path+input_file)#, sep=',',na_values=["NAN","-1","null"],low_memory=False)#, parse_dates=['folder_creation_date','date_last_change']) # set header=0 if i wanna pass it my own list of header names

print df_wos.shape
print df_wos.columns

In [ ]:
for item in df_wos.columns:
    print item, "\t"

In [ ]:
#Field: ['humanities', 'science', 'business econ finances government', 'art', 'medicine dentistry nursing pharmacology', 'other']

In [ ]:
# Learn about API authentication here: https://plot.ly/python/getting-started
# Find your api_key here: https://plot.ly/settings/api

# num_coauthors 	
# num_papers_double_check 	
# num_papers_1st 	
# num_papers_last 	
# num_papers_solo 	
# list_pub 	
# num_citations 	
# total_pubs
# x=[1,1,1,1,1,1,1,1,1,4,4,2,3,0,0,0]
# y=[1,2,2,2,2,3,2,2,3,3,4,4,4,0,0,0,3]
field='humanities'

df_seleted_field=df_wos[df_wos['Field'] == field]

print df_seleted_field.shape, df_seleted_field

x = df_seleted_field['num_citations'].head(1000)  #(t**3)+(0.3*np.random.randn(2000))
y = df_seleted_field['num_papers_last'].head(1000)  #(t**6)+(0.3*np.random.randn(2000))

trace1 = Scattergl(
    x=x, y=y, mode='markers', name='points',
    marker=dict(color='rgb(102,0,0)', size=2, opacity=0.4)
)
trace2 = Histogram2dcontour(
    x=x, y=y, name='density', ncontours=20,
    colorscale='Hot', reversescale=True, showscale=False
)
trace3 = Histogram(
    x=x, name='x density',
    marker=dict(color='rgb(102,0,0)'),
    yaxis='y2'
)
trace4 = Histogram(
    y=y, name='y density', marker=dict(color='rgb(102,0,0)'),
    xaxis='x2'
)
data = [trace1, trace2, trace3, trace4]





layout = Layout(
    showlegend=False,
    autosize=False,
    width=600,
    height=550,
    title=field,
    xaxis=dict(
        #type='log',         
        #range=[0, 10000],
        domain=[0, 0.85],
        showgrid=False,
        zeroline=False,
        title="total # citations"
    ),
    yaxis=dict(
        #type='log',
        #range=[0, 200],
        domain=[0, 0.85],
        showgrid=False,
        zeroline=False,
        title="# publications as last author"    
    ),
    margin=dict(
        t=50
    ),
    hovermode='closest',
    bargap=0,
    xaxis2=dict(
        domain=[0.85, 1],
        showgrid=False,
        zeroline=False
    ),
    yaxis2=dict(
        domain=[0.85, 1],
        showgrid=False,
        zeroline=False
    )
)

fig = Figure(data=data, layout=layout)

iplot(fig, filename='hist_2d')
offline.plot(fig, filename='/home/juliaponcela/histogram_2d.html')

In [ ]:
#Field: ['humanities', 'science', 'business econ finances government', 'art', 'medicine dentistry nursing pharmacology', 'other']



df_seleted_field1=df_wos[(df_wos['Field'] == 'art')  |  (df_wos['Field'] == 'humanities')]
print df_seleted_field1.shape

df_seleted_field2=df_wos[(df_wos['Field'] == 'science')]# | (df_wos['Field'] == 'medicine dentistry nursing pharmacology')]
print df_seleted_field2.shape

df_seleted_field3=df_wos[(df_wos['Field'] == 'business econ finances government')]# | (df_wos['Field'] == 'medicine dentistry nursing pharmacology')]
print df_seleted_field3.shape

df_seleted_field4=df_wos[(df_wos['Field'] == 'medicine dentistry nursing pharmacology')]# | (df_wos['Field'] == 'medicine dentistry nursing pharmacology')]
print df_seleted_field4.shape


#foo = df_wos.ix[(df_wos['Field']==value) | (df_wos['Field'] == 'b') | (df['column3'] == 'c')]
#(df['column1']==value) | (df['columns2'] == 'b')

In [ ]:

# num_coauthors 	
# num_papers_double_check 	
# num_papers_1st 	
# num_papers_last 	
# num_papers_solo 	
# list_pub 	
# num_citations 	
# total_pubs

var='num_coauthors'

trace1 = Histogram(
    x=df_seleted_field1[var],
   # x=np.array(df_seleted_field1['num_papers_last'])/np.array(df_seleted_field1['total_pubs']),
     name='arts & humanities',
    opacity=0.75
)
trace2 = Histogram(
    x=df_seleted_field2[var],
    #x=np.array(df_seleted_field2['num_papers_last'])/np.array(df_seleted_field2['total_pubs']),
    name='science',
    opacity=0.75
)

trace3 = Histogram(
    x=df_seleted_field3[var],
    #x=np.array(df_seleted_field3['num_papers_last'])/np.array(df_seleted_field3['total_pubs']),
    name='business',
    opacity=0.75
)

trace4 = Histogram(
    x=df_seleted_field4[var],    
    #x=np.array(df_seleted_field4['num_papers_last'])/np.array(df_seleted_field4['total_pubs']),
    name='medicine',
    opacity=0.75
)
py.iplot(fig, filename='styled-scatter')








data = [trace1, trace2, trace3, trace4]
# layout = Layout(barmode='overlay')
fig = Figure(data=data, layout=layout)


layout = Layout(
   
    xaxis=dict(
        type='log', 
        title=var#"ratio last_author/# publ"
       
#         #range=[0, 10000],
#         domain=[0, 0.85],
#         showgrid=False,
#         zeroline=False,
#         title="total # citations"
    ),
    yaxis=dict(
        type='log',
        title='count'
#         #range=[0, 200],
#         domain=[0, 0.85],
#         showgrid=False,
#         zeroline=False,
#         title="# publications as last author"    
    ),
    
)












data = [trace1, trace2, trace3, trace4]
# layout = Layout(barmode='overlay')
fig = Figure(data=data, layout=layout)



iplot(fig, filename='hist_2d')
offline.plot(fig, filename='/home/juliaponcela/histograms.html')

In [ ]:
#Field: ['humanities', 'science', 'business econ finances government', 'art', 'medicine dentistry nursing pharmacology', 'other']

In [ ]:

# num_coauthors 	
# num_papers_double_check 	
# num_papers_1st 	
# num_papers_last 	
# num_papers_solo 	
# list_pub 	
# num_citations 	
# total_pubs





df_seleted_field1=df_wos[(df_wos['Field'] == 'art')  |  (df_wos['Field'] == 'humanities')]
print df_seleted_field1.shape

df_seleted_field2=df_wos[(df_wos['Field'] == 'science')]# | (df_wos['Field'] == 'medicine dentistry nursing pharmacology')]
print df_seleted_field2.shape

df_seleted_field3=df_wos[(df_wos['Field'] == 'business econ finances government')]# | (df_wos['Field'] == 'medicine dentistry nursing pharmacology')]
print df_seleted_field3.shape

df_seleted_field4=df_wos[(df_wos['Field'] == 'medicine dentistry nursing pharmacology')]# | (df_wos['Field'] == 'medicine dentistry nursing pharmacology')]
print df_seleted_field4.shape

var1='total_pubs'
var2='num_papers_last'






trace0 = Scatter(
    x = df_seleted_field1[var1].head(10000),
    y = df_seleted_field1[var2].head(10000),
    name = 'art & humanities',
    mode = 'markers',
    marker = dict(
        size = 5,       
        #color = 'rgba(152, 0, 0, .8)',
#         line = dict(
#             width = 2,
#             color = 'rgb(0, 0, 0)'
#         )
    )
)

trace1 = Scatter(
    x = df_seleted_field2[var1].head(10000),
    y = df_seleted_field2[var2].head(10000),
    name = 'science',
    mode = 'markers',
    marker = dict(
        size = 5, 
        opacity=0.5
        #color = 'rgba(255, 182, 193, .9)',
#         line = dict(
#             width = 2,
#         )
    )
)


trace2 = Scatter(
    x = df_seleted_field3[var1].head(10000),
    y = df_seleted_field3[var2].head(10000),
    name = 'business',
    mode = 'markers',
    marker = dict(
        size = 5, 
        opacity=0.5
        #color = 'rgba(255, 182, 193, .9)',
#         line = dict(
#             width = 2,
#         )
    )
)


trace3 = Scatter(
    x = df_seleted_field4[var1].head(10000),
    y = df_seleted_field4[var2].head(10000),
    name = 'medicine',
    mode = 'markers',
    marker = dict(
        size = 5, 
        opacity=0.85
        #color = 'rgba(255, 182, 193, .9)',
#         line = dict(
#             width = 2,
#         )
    )
)





trace100 = Scatter(
    x = [0,1000],
    y = [0,1000],
    name = '100% last_author papers',
    mode = 'lines',
#     marker = dict(
#         size = 5, 
#         opacity=0.5
#         #color = 'rgba(255, 182, 193, .9)',
# #         line = dict(
# #             width = 2,
# #         )
#     )
)
trace50 = Scatter(
    x = [0,2000],
    y = [0,1000],
    name = '50% last_author papers',
    mode = 'lines',
#     marker = dict(
#         size = 5, 
#         opacity=0.5
#         #color = 'rgba(255, 182, 193, .9)',
# #         line = dict(
# #             width = 2,
# #         )
#     )
)

data = [ trace0, trace1,trace2, trace3, trace50, trace100]

layout = dict(title = 'Styled Scatter',
              xaxis = dict(zeroline = False,  title= var1,),
              yaxis = dict(zeroline = False,  title= var2,)
             )




fig = dict(data=data, layout=layout)

iplot(fig, filename='hist_2d')
offline.plot(fig, filename='/home/juliaponcela/histograms.html')

In [ ]:
#df_seleted_field1[var1]
x0

In [ ]:
for item in df_seleted_field1.columns:
    print item

In [ ]:


x0 = df_seleted_field1['num_citations']#.head(1000)  #(t**3)+(0.3*np.random.randn(2000))
y0 = df_seleted_field1['num_papers_last']#.head(1000)  #(t**6)+(0.3*np.random.randn(2000))


x1 = df_seleted_field2['num_citations']#.head(1000)  #(t**3)+(0.3*np.random.randn(2000))
y1 = df_seleted_field2['num_papers_last']#.head(1000)  #(t**6)+(0.3*np.random.randn(2000))



# x0 = np.random.randn(100)/5. + 0.5  # 5. enforces float division
# y0 = np.random.randn(100)/5. + 0.5
# x1 = np.random.rand(50)
# y1 = np.random.rand(50) + 1.0

x = np.concatenate([x0, x1])
y = np.concatenate([y0, y1])

trace1 = Scatter(
    x=x0,
    y=y0,
    mode='markers',
    showlegend=False,
    marker=dict(
        symbol='x',
        opacity=0.7,
        color='white',
        size=8,
        line=dict(width=1),
    )
)
trace2 = Scatter(
    x=x1,
    y=y1,
    mode='markers',
    showlegend=False,
    marker=dict(
        symbol='circle',
        opacity=0.7,
        color='white',
        size=8,
        line=dict(width=1),
    )
)
trace3 = Histogram2d(
    x=x,
    y=y,
    colorscale='YIGnBu',
   # zmax=10,
#     nbinsx=20,
#     nbinsy=20,
    #zauto=False,
)

layout = Layout(
#     xaxis=dict( ticks='', showgrid=False, zeroline=False, nticks=20 ),
#     yaxis=dict( ticks='', showgrid=False, zeroline=False, nticks=20 ),
#     autosize=False,
    height=550,
    width=550,
    hovermode='closest',

)
data = [trace1, trace2, trace3]
fig = Figure(data=data, layout=layout)

iplot(fig, filename='hist_2d')
offline.plot(fig, filename='/home/juliaponcela/histogram_2d.html')

In [ ]:
df_wos.Field.unique()

In [ ]:
# Learn about API authentication here: https://plot.ly/python/getting-started
# Find your api_key here: https://plot.ly/settings/api

import plotly.plotly as py
import plotly.graph_objs as go

import numpy as np

t = np.linspace(-1,1.2,2000)
x = (t**3)+(0.3*np.random.randn(2000))
y = (t**6)+(0.3*np.random.randn(2000))

trace1 = go.Scatter(
    x=x, y=y, mode='markers', name='points',
    marker=dict(color='rgb(102,0,0)', size=2, opacity=0.4)
)
trace2 = go.Histogram2dcontour(
    x=x, y=y, name='density', ncontours=20,
    colorscale='Hot', reversescale=True, showscale=False
)
trace3 = go.Histogram(
    x=x, name='x density',
    marker=dict(color='rgb(102,0,0)'),
    yaxis='y2'
)
trace4 = go.Histogram(
    y=y, name='y density', marker=dict(color='rgb(102,0,0)'),
    xaxis='x2'
)
data = [trace1, trace2, trace3, trace4]

layout = go.Layout(
    showlegend=False,
    autosize=False,
    width=600,
    height=550,
    xaxis=dict(
        domain=[0, 0.85],
        showgrid=False,
        zeroline=False
    ),
    yaxis=dict(
        domain=[0, 0.85],
        showgrid=False,
        zeroline=False
    ),
    margin=dict(
        t=50
    ),
    hovermode='closest',
    bargap=0,
    xaxis2=dict(
        domain=[0.85, 1],
        showgrid=False,
        zeroline=False
    ),
    yaxis2=dict(
        domain=[0.85, 1],
        showgrid=False,
        zeroline=False
    )
)

fig = go.Figure(data=data, layout=layout)

iplot(fig, filename='hist_2d')
offline.plot(fig, filename='/home/juliaponcela/histogram_2d.html')

In [ ]:
#lista=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1] gini=0.9642857142857143
#lista=[0,0,1] #gini=0.6666666666

lista=[0,1] # gini=0.5
gini(lista)

In [ ]:
# def gini(list_of_values):
#     sorted_list = sorted(list_of_values)
#     height, area = 0, 0
#     for value in sorted_list:
#         height += value
#         area += height - value / 2.
#     fair_area = height * len(list_of_values) / 2.
#     return (fair_area - area) / fair_area





# def gini(x):   #It uses the fact that the Gini coefficient is half the relative mean absolute difference.
#     # (Warning: This is a concise implementation, but it is O(n**2)
#     # in time and memory, where n = len(x).  *Don't* pass in huge
#     # samples!)

#     # Mean absolute difference
#     mad = np.abs(np.subtract.outer(x, x)).mean()
#     # Relative mean absolute difference
#     rmad = mad/np.mean(x)
#     # Gini coefficient
#     g = 0.5 * rmad
#     return g

In [ ]:
# ## i get one row per author with all relevant info

# # def format_affil(affil_string):
    
# #     return affil_string.replace('Univ,','University,')

# def grouping(input_df):
    
#     #print "SIZE of input:",len(input_df)
#     #author_id=input_df.author_id.iloc[0]   # these two var. should be the same for all rows of the input_df
#     tot_n_pubs=input_df.tot_n_pubs.iloc[0]
    
    
#     lastname=input_df.author_name.iloc[0].split(",")[0].capitalize()
    
    
    
# #     list_affil=[]
# #     list_names=[]
# #     list_seq=[]
# #     list_uid=[]
# #     for row in input_df.iterrows():  OJO!!! no need: input_df.affiliation is already a series
       
# #         list_affil.append(row[1].affiliation)
# #         list_names.append(row[1].author_name)
# #         list_seq.append(row[1].seq)
# #         list_uid.append(row[1].uid)
        
# #     x=["WOS:000331218800012", "WOS:000363776800012"]

# #     lista=[x[i].strip("WOS:") for i in range(len(x))]



#     #x= input_df.uid.values
#     lista=[input_df.uid.values[i].strip("WOS:") for i in range(len(input_df.uid.values))]

#     #print input_df.author_id.iloc[0]  
    
  
#     #return pd.DataFrame({'author_names':list_names,'affiliations':list_affil,'seqs':list_seq,'tot_n_pub':tot_n_pubs})
#     affiliations = [format_affil(a) for a in input_df.affiliation.unique()]
    
#     resultado = pd.Series({'author_names':input_df.author_name.unique(),'lastname':lastname,'affiliations':affiliations,\
#                          'seqs':input_df.seq.values,'uids':lista,'tot_n_pub':tot_n_pubs}) #input_df.affiliation.unique()
#     #if the returned values of some of the columns are list, use SERIES instead of DATAFRAME
    
    
    
    
#     return resultado
#   #'author_id':author_id,  no need, Univit is the index


# #grouped = FINAL.head(10000).groupby('author_groupedid').apply(grouping)
# grouped = FINAL.groupby('author_id').apply(grouping)

# grouped= grouped.reset_index()  # to reset the indexes (instead of using the authour_id as index, i create a new one)

# # most functions do not modify the df in places, i need to do result2 = result.apply etc...

In [ ]:

# df_complete_info=df[["group_total_publ", "median_num_publ", "group_num_papers_last","median_num_last_auth","career_stage"]].dropna(how='any').head(1000)
# print df_complete_info.shape


# trace = Scattergl(
#     x = df_complete_info.median_num_publ,
#     y = df_complete_info.median_num_last_auth,
#     mode = 'markers',
#     marker = dict(
#         color = df.career_stage,#'#FFBAD2',
#         colorscale='Viridis',
#         showscale=True,
#         line = dict(width = 1)
#     )
# )





# data = [trace]



# fig = {'data':data}#, 'layout':layout }
# iplot(fig, filename='lifespan')
# offline.plot(fig, filename='/home/juliaponcela/scatter_num_publ_and_last_auth.html')

In [ ]:
df.columns

In [ ]:
df.tail(500)

In [ ]:
df.columns

In [ ]:
top_ranking=30
list_rankings=[]
for i in range(top_ranking):
    i +=1
    list_rankings.append(str(i))
    
#print list_rankings    
#df_top=df[df['national_ranking'].isin(list_rankings)]

df_top = df[df['national_ranking'].isin(list_rankings) == False]
print df_top.shape


df_complete_info=df_top[['user_id','email_domain' ,'num_edits','group_num_citations' , 'Rural_Urban_Continuum_Code'   ]].dropna(how='any')  # by default, dropna drops a row if ANY  of the indicated fields are missing (i can also set it to if ALL the fields are missing: how='all')
print df_complete_info.shape , len(df_complete_info['user_id'].unique())

In [ ]:
### checking the bins:

# group_num_papers_last
# 0.0-1.0        102479
# 1.0-5.0         51978
# 18.0-1216.0     86658
# 5.0-18.0        74631


# group_total_publ
# 1.0-2.0        84560
# 2.0-8.0        42471
# 22.0-56.0      66337
# 56.0-1350.0    70420
# 8.0-22.0       51958



# group_num_citations
# 0.0-1.0            72323
# 1.0-30.0           48710
# 1183.0-146545.0    72967
# 229.0-1183.0       64114
# 30.0-229.0         57632

#df[['group_total_publ','group_num_papers_last']]

#df.group_total_publ.unique()
df.group_num_citations.unique()
df.groupby("group_num_papers_last").size()#.sort_values()

In [ ]:
df.groupby("email_domain").size()

In [ ]:
#df_top = df[df['national_ranking'].isin(list_rankings) == False]



# ranking for businessweek:  https://www.bloomberg.com/features/2016-best-business-schools/

#####  Business school domains:  
# harvard is hbs  12 rows,   10 user_ids;   
# gsb.stanford  0    0; 
# fuqua.duke.edu 22   21; 
# chicagobooth.edu  2426    379;  
# tuck.dartmouth.edu  (school not here) ;
# wharton.upenn.edu 4664    859;  
# mit sloan  0 ; 
# rice jones 0 ;  
# kellogg  2853    570 ;   
# haas.berkeley.edu  1968      212;   
# gsb.columbia.edu 252    105;  
# darden.virginia.edu  112   52; 
# michigan ross (school not here) ;  
# yale.edu  0   26914  (no subdomain)  ;  
# Carnegie Mellon University  tepper.cmu.edu    27    24; 
# cornell   0
# stern.nyu.edu    392    151
# mays.tamu Texas A&M (Mays) 0 ;  
# washington  foster.uw  0; 
# emory goizueta bus.emory.edu 7    6; 
# anderson.ucla 0  ;  
# Brigham Young marriottschool.byu.edu 0 ;
# North Carolina (Kenan-Flagler)  kenan-flagler.unc  0  ;  
# Mendoza College of Business,  Notre Dame  mendoza.nd.edu 0  ; Indiana (Kelley) 0
# Eli Broad College of Business - Michigan State University  broad.msu.edu    493   112
# Scheller College of Business - Georgia Tech   0
# Naveen Jindal School of Management | The University of Texas at Dallas jindal.utdallas.edu  0
# Simon Business School - University of Rochester  simon.rochester.edu  97   30  
# Cox School of Business - southern methodist university  cox.smu.edu  65   17
# Owen Vanderbilt Business School   owen.vanderbilt.edu       165    68
# owe Marshall School of Business - University of Southern California  marshall.usc.edu    1457      359
# Robert H. Smith School of Business, University of Maryland  rhsmith.umd.edu   1789    271
# McDonough School of Business | Georgetown University    msb.georgetown.edu  0
# Tippie College of Business - The University of Iowa  tippie.uiowa.edu   0
# Olin Business School - Washington University in St. Louis   olin.wustl.edu 8    3  
# Penn State Smeal College of Business   smeal.psu.edu  0
# Carlson School of Management carlsonschool.umn.edu   0 
# Wisconsin School of Business at the University of Wisconsin  wsb.wisc.edu    0  
# Fisher College of Business - The Ohio State University  fisher.osu.edu    109    31  
# Krannert School of Management - Purdue Krannert  krannert.purdue.edu    0  
# Kogod School of Business at American University, Washingon, D.C. ...  kogod   0
# College of Business - University of Illinois     bus.illinois.edu   2    2  
# George Washington University School of Business  gwu.edu    0
#  Hough Graduate School of Business | Warrington    warrington.ufl.edu   0
# School of Management - University at Buffalo  mgt.buffalo.edu   0
# Carroll School of Management - Boston College  bc.edu/carroll  0
#  WP Carey School of Business - Arizona State University  wpcarey.asu.edu/   0  (asu.edu all together)
# Questrom School of Business - Boston University  bu.edu/questrom/    0  (bu.edu all together)
# texas at austen mccombs  1541 (multiple subsubdomains)    263 









### ranking med schools:
# https://www.usnews.com/best-graduate-schools/top-medical-schools/research-rankings


# Harvard Medica Scholl https://hms.harvard.edu/   13   5
# Stanford Medicine med.stanford.edu  0 0
# University of California San Francisco medica school    maaaany different subdomains + ucsf.edu  3205      774
# Perelman School of Medicine at the University of Pennsylvania  med.upenn.edu   5601,  1214
# johns hopkins  12  11
# The College of Physicians and Surgeons | Columbia University    cumc.columbia.edu  2767,  1054
# Duke University School of Medicine   dm.duke.edu 366,  227  ;  mc.duke.edu  347, 106   ;  neuro.duke.edu      180,  30  total:  893, 363 
# Washington University School of Medicine in St. Louis   medicine.wustl.edu    and maaaany different subdomians   around 3000 , about 1000
# University of Michigan Medical School med.umich.edu   but also 1062,  588  (but also umich.edu...)
# Yale 0 (no subdomains)
# David Geffen School of Medicine at UCLA    mednet.ucla.edu 6705, 1498 (but also .ucla)  
# NYU School of Medicine Langone  med.nyu.edu  274,   85
# university of washington seattle medical school  (no subdomains uw.edu)
# vanderbilt university nashville medical school  (no subdomains, only for owen)
# university of chicago pritzker medical school    medicine.bsd.uchicago.edu      2195     368
# School of Medicine | University of Pittsburgh  medschool.pitt.edu   (no subdomains uw.edu)
#  northwestern university feinberg school of medicine   fsm.northwestern.edu           84   42
# med.cornell.edu  4625   1025
# university of california san diego medical school  (no subdomains)
# Mayo Clinic School of Medicine  (not in dataset)
# Baylor College of Medicine  Houston   baylor.edu           362   220
# Icahn School of Medicine at Mount Sinai   New York   mssm.edu  0
# emory university school of medicine  0
# north carolina chapel hill  med.unc.edu           5585,  1411
# case western reserve university medical school   (no subdomains)
# university of texas southwestern medical school dallas utsouthwestern.edu     (no subdomains)
#  university of virginia medical school .virginia.edu (no med subdomain)
# university of wisconsin madison medical school   medicine.wisc.edu          593  146   (and other subdomains too! )
# oregon health and science university medical school bumc.bu.edu   (all in one domain)
# brown university alpert medical school med.brown.edu   (all in one domain)
# ohio state university medical school osu.edu     (all in one domain except fisher)
# university of rochester medical school urmc.rochester.edu      1188,  520
# university of southern california keck medical school        med.usc.edu  1209  440
# dartmouth college geisel school of medicine (school not in the data)
# university of alabama birmingham medical school uabmc.edu   183, 98
# University of Colorado medical school  (all in one domain)
#  university of iowa carver medical school uiowa.edu   (all in one domain)
#  yeshiva university einstein medical school  einstein.yu.edu  (all in yu.edu domain)
# university of cincinnati medical school med.uc.edu  (all in yu.edu domain)
#  University of Florida Gainesville medical school  medicine.ufl.edu  (and other small subdomains!)   206    92 
# university of maryland medical school  medicine.umaryland.edu (and other small subdomains!)     96  57
# university of utah medical school hsc.utah.edu    3310, 938
# georgetown university medical school som.georgetown.edu  (no subdomains except for law)
# indiana university indianapolis medical school iu.edu  0  (no subdomains )
# university of california davis medical school ucdmc.ucdavis.edu   375,  167
# university of california irvine medical school uci.edu   (all in one domain)
# university of miami miller school of medicine med.miami.edu    1833   638
# tufts university school of medicine medicine.tufts.edu (all in one domain)



#df[df['email_domain'].str.contains("harvard")]
#df[df['email_domain'].str.contains("bu.edu")].groupby("email_domain").size()


df_selection =df[df['email_domain'].str.contains("utah.edu")]#   & (df['email_domain']  != "wustl.edu")     & (df['email_domain']  != "physics.wustl.edu")  ]#df[df['email_domain'].str.contains("wustl.edu")]
print df_selection.shape, len(df_selection.user_id.unique())
df_selection.groupby("email_domain").size()





#df[df['email_domain'].str.contains("wustl.edu")     & (df['email_domain']  != "wustl.edu")].groupby("email_domain").size()


#df[df['email_domain'].str.contains("ucsf.edu")].groupby("email_domain").size()



#print df_t.shape

In [ ]:
filename="Merged_linkedin-WoS_GS_extra70univ_anonymized_groups_for_Dropbox_binSize25_macro_fields_no_small_buckets.xlsx"
path="/home/juliaponcela/at_Ninput_df.group_num_papers_lastICO/Dropbox_collaboration_patterns/Data/Merged_LinkedIn_WoS/"

df_old = pd.read_excel(open(path+filename,'rb'))

df_old.shape

In [ ]:
print df_old.shape
df_old.head()

In [ ]:

df_top = df_old[df_old['new_group_total_pubs'] == "56.0-1350.0" ]    
# rows with NAN publications (-1): 128125,   
# 70390 with not NAN publications, and out of those:   18613 (26%) with 1.0-2.0 publ, 11281 (16%) with  2.0-8.0 publ, 
#  13955 (20%) rows with 22.0-56.0 publ, 14496 (21%) rows with 56.0-1350.0,    12045  (17%) with  8.0-22.0 publ

print df_top.shape


# df_complete_info=df_top[['user_id','email_domain' ,'num_edits','group_num_citations' , 'Rural_Urban_Continuum_Code'   ]].dropna(how='any')  # by default, dropna drops a row if ANY  of the indicated fields are missing (i can also set it to if ALL the fields are missing: how='all')
# print df_complete_info.shape , len(df_complete_info['user_id'].unique())

In [ ]:
df_old.new_group_total_pubs.unique()

In [ ]:
128125.0/198515.0

In [ ]:
#df[df['Country'].str.contains("Australia")].groupby("email_domain").size()